<% # Clients of this partial must provide the following variables:
   # comment
   # commentable if a new comment
   #
   # Additionally, they can override the following variable:
   no_remote ||= false
   comment_name ||= 'Comment'
   create_verb ||= 'Post'
%>
<% new = comment.id.nil? %>

<%= form_tag new ? polymorphic_path([commentable, :comments]) :
                   comment_path(comment),
               :method => (new ? "post" : "put"),
               :id => "new_comment_form",
               :remote => !no_remote do %>

  
    <p><%= text_area_tag "comment[message]", comment.message, :style => "width: 100%", :rows => "7" %>
    </p>
  

  
    <p><%= submit_tag (new ? create_verb : 'Update') + ' ' + comment_name %>
    </p>
  

<% end %>
