<table>
  <tr>
    <th width="100%"></th>
    <th></th>
  </tr>

<% @threads.each do |thread| %>
  <tr>
    <td><%= commontable_name(thread) %></td>
    <td><%= link_to 'Unsubscribe', polymorphic_path([:unsubscribe, thread.commontable, :comments]),
              :confirm => 'Are you sure you want to unsubscribe from ' + commontable_name(thread) + '?' %></td>
  </tr>
<% end %>
</table>
