<% # Clients of this partial must supply the following variable:
   # thread
%>

<% user = send(Commontator.current_user_method) %>

<% if thread.can_be_read_by?(user) %>
  <%= stylesheet_link_tag "commontator/application", :media => "all" %>

  <div id="thread_<%= thread.id %>_div" class="thread">
    <%= link_to 'View ' + thread.config.comment_name.pluralize, commontator.thread_path(thread), :remote => true %>
  </div>
<% end %>
