<%
  # Controllers that use this partial must supply the following variables:
  # thread
  # user
  # per_page
  # page
  # show_all
  # Additionally, they may override the following variable:
  @commontator_thread_show ||= false
%>

<% if !thread.nil? && thread.can_be_read_by?(user) %>
  <div id="thread-<%= thread.id %>-div" class="thread">
    <% if @commontator_thread_show %>
      <%=
        render partial: 'commontator/threads/show', locals: {
          thread: thread,
          user: user,
          page: page,
          per_page: per_page,
          show_all: show_all
        }
      %>
    <% else %>
      <% subscription = thread.subscription_for(user) %>
      <%= link_to "#{t 'commontator.thread.actions.show'} (#{
                    (subscription.unread_comments.count.to_s + '/') if subscription
                  }#{thread.filtered_comments.count.to_s})",
                  commontator.thread_path(thread),
                  remote: true %>
    <% end %>
  </div>
<% end %>
