<% # Clients of this partial must supply the following variables:
   # thread
   # user
%>

<% subscription = thread.subscription_for(user) %>

<% if thread.can_be_read_by?(user) %>
  <%= stylesheet_link_tag "commontator/application.css", :media => "all" %>

  <div id="thread_<%= thread.id %>_div" class="thread" style="display: none;">
    <% if @commontator_thread_show %>
      <%= render :partial => 'commontator/threads/show', :locals => {:thread => thread,
                                                                     :user => user} %>
    <% else %>
      <%= link_to "Show #{thread.config.comment_name.pluralize} (#{subscription ? (subscription.unread.to_s + '/' + thread.comments.count.to_s) : thread.comments.count.to_s})", \
                  commontator.thread_path(thread), :remote => true %>
    <% end %>
  </div>
<% end %>
