<!DOCTYPE html>
<html>
<head>
  <title>Commontator</title>
  <%= stylesheet_link_tag    "commontator/application", :media => "all" %>
  <%= javascript_include_tag "commontator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
