<% # Clients of this partial must provide the following variables:
   # comment
   #
   # Additionally, they can override the following variables:
   thread ||= comment.thread
   no_remote ||= false
%>

<%= form_for([commontator, thread, comment],
             :remote => !no_remote) do |f| %>
             
  <p>
    <%= f.text_area :body, :rows => '7' %>
  </p>
  
  <p>
    <%= f.submit (comment.id.blank? ? \
                   thread.config.comment_create_verb_present : \
                   'Update') + \
                 ' ' + thread.config.comment_name %>
  </p>
  
<% end %>
