<% # Clients of this partial must provide the following variables:
   # comment
   #
   # Additionally, they can override the following variable:
   thread ||= nil
   no_remote ||= false
%>

<%= form_for([thread, comment],
             :id => 'new_comment_form',
             :remote => !no_remote) do |f| %>
             
  <p>
    <%= f.text_area :body, :rows => '7' %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
  
<% end %>
