<% # Clients of this partial must provide the following variables:
   # comment
   # commentable
   #
   # Additionally, they can override the following variable:
   no_remote ||= false
%>

<%= form_for([commentable, comment],
             :id => "new_comment_form",
             :remote => !no_remote do |f| %>
             
  <p>
    <%= f.text_area :body, :id => "new_comment_body", :class => "new_comment_body", :rows => "7" %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
  
<% end %>
