<%#
  Controllers that use this partial must supply the following variables:
  user
  nested_comments
%>

<% nested_comments.each do |comment, total, children| %>
  <div id="commontator-comment-<%= comment.id %>" class="comment">
    <%= render partial: 'commontator/comments/show',
               locals: { user: user, comment: comment, children: children } %>
  </div>
<% end %>
