<% # Clients of this partial must supply the following variables:
   # commontable
   # commontator
%>

<% thread = commontable.thread %>

<% if thread.can_be_read_by?(commontator) %>
  <div id="thread_<%= thread.id %>_div" class="thread">
    <% link_to 'View ' + thread.config.comment_name.pluralize, thread, :remote => true %>
  </div>
<% end %>
