.comment {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  border-top: 1px solid;
  border-left: 1px solid;
  
  margin-top: 15px;
  margin-bottom: 15px;

  padding-top: 8px;
  padding-left: 15px;

  color: #000;
  border-color: #ddd;
  background-color: #fff;
}

.comment_actions {
  float: right;
}

.comment_body p {
	margin: 0px;
}

.comment_body\ {
   margin-left: 50px;
   margin-top: -55px;
   margin-right: 45px;
   
   padding: 8px;
}

.comment_timestamp {
	color: #777;
}

.comment_votes {
  float: right;
}

.comment_votes input {
  border: none;
  
  background-color: transparent;
}

.comment_votes label {
  float: right;
  
  margin-top: 15px;
}

#new_comment_form textarea {
	width: 100%;
}
