.comment {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;

  border-top: 1px solid;
  border-left: 1px solid;
  
  margin-top: 15px;
  margin-bottom: 15px;

  padding-top: 8px;
  padding-left: 15px;

  color: #000;
  border-color: #ddd;
  background-color: #fff;
}

.comment_actions {
  float: right;
}

.comment_body p {
	margin: 0px;
	
	overflow: hidden;
}

.comment_body {
  margin-left: 55px;
  margin-top: -60px;
  margin-right: 45px;
   
  padding: 8px;
}

.comment_profile_picture img {
  margin-top: 5px;
}

.comment_timestamp {
	color: #777;
}

.comment_votes {
  float: right;
}

.comment_votes input,
.comment_votes img {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin: 5px;
}

.comment_upvote {
  display: table;
}

.comment_upvote form {
  display: table-cell;
}

.comment_downvote {
  display: table;
}

.comment_downvote form {
  display: table-cell;
}

.comment_upvote_count {
  display: table-cell;
  vertical-align: middle;
  
  padding-top: 1px;
}

.comment_downvote_count {
  display: table-cell;
  vertical-align: middle;
  
  padding-bottom: 7px;
}

.thread_new_comment textarea {
	width: 100%;
}
