.thread {
  display: block !important;
}

.thread_actions {
  float: right;
}

.thread_header {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}

.thread_new_comment {
  display: none;
  padding-left: 15px;
}
